<!-- Buttons to toggle between Personal Data and Apply Drives -->
<div *ngIf="showstudentComponents === 0">
    <button (click)="studentComponents(1)">Personal Data</button>
    <button (click)="studentComponents(2)">Apply Drives</button>
  </div>
  
  <app-studet-personal-data *ngIf="showstudentComponents === 1"></app-studet-personal-data>
  
  <app-applydrive *ngIf="showstudentComponents === 2"></app-applydrive>
  
  <button *ngIf="showstudentComponents !== 0" (click)="studentComponents(0)">BackToDashboard</button>
   